body {
    background-color: yellow;
}

#container {
    width: 800px;
    margin: auto;
    background-color: white;
}

header {
    padding: 50px;
    height: 80px;
}

nav {
    padding: 8px 50px;
    background-color: black;
    color: white;
}

article {
    padding: 50px;
    min-height : 400px;
}

footer {
    padding: 50px;
    height: 40px;
    background-color : black;
    color: white;
}
